@model ITShop.Models.Slusalice

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/Detalji.css" />


<div class="detalji">
    <h4>Kategorija: Slušalice</h4>
    <h1>@Html.DisplayFor(model => model.Naziv)</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Naziv)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Naziv)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Proizvodjac)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Proizvodjac)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cijena)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cijena)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VrstaPrikljucka)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VrstaPrikljucka)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImaLiMikrofon)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImaLiMikrofon)
            </dd>
            <a href="/Kupovina/Placanje"><button style="width: 200px; height: 40px;">KUPI</button></a>
            <a href="/Home/Index"><button style="width: 200px; height: 40px;">DODAJ U KORPU</button></a>
        </dl>
    </div>
    