@model IEnumerable<ITShop.Models.SSD>

@{
    ViewData["Title"] = "Index";
}

<h1>Kategorija: SSD</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proizvodjac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kapacitet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brzina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Velicina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvodjac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kapacitet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brzina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Velicina)
            </td>
            <td>
                | <a asp-action="Edit" asp-route-id="@item.Id">Izmijeni proizvod</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Prikaži proizvod</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Ukloni iz prodaje</a> |
                <a asp-action="Create" asp-route-id="@item.Id">Dodaj novi proizvod</a> |
            </td>
        </tr>
}
    </tbody>
</table>
